*~
*.orig
*.pyc
*.swp
*.swo
\#*
\.#*
conf/config.sh
conf/dev/config.sh
conf/config-desktop.sh
media_main/
uploads/
include/
lib/python2.6
bin/GenericClassify
bin/python
bin/activate*
bin/pip*
bin/easy_install*
bin/django-admin.py
pip-log.txt

canary.log

.project
.pydevproject
.idea
.settings*
log/
local_settings.py
*.php.bak
